@use "../../../src/styles/global.scss";
.dropdown__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 12px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  padding: 8px;
  background-color: #4a2875;
  @extend .box-shadow-type1;
  box-shadow: 0px 2px 4px 0px #1f1f231a;
  position: relative;
  z-index: 3;
}

.dropdown__button__subtext {
  font-weight: 400;
}

.dropdown__open {
  position: relative;
  z-index: 2;
}

.dropdown__open__items-container {
  width: 100%;
  position: absolute;
  background-color: white;
  border-radius: 16px;
  padding: 0px 16px;
  box-sizing: border-box;
  top: 42px;
  left: 0px;
  z-index: 2;
}

.dropdown__open__item {
  text-align: center;
  font-family: var(--font-family-base);
  font-size: 12px;
  font-weight: 700;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}

.dropdown__open__item:last-child {
  border-bottom: none;
}

.dropdown__open__item__active {
  color: var(--purple-to-text-color);
}

.dropdown__open__background {
  position: absolute;
  background-color: #15151599;
  backdrop-filter: blur(3px);
  top: 0px;
  left: 0px;
  z-index: 2;
}
@media (min-width: 500px) {
  .dropdown__open__background {
    width: 480px;
    height: 800px;
  }
}

@media (max-width: 500px) {
  .dropdown__open__background {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
  }
}

@media (min-height: 100px) {
  .dropdown__open__item {
    padding: 5px;
  }
}

@media (min-height: 700px) {
  .dropdown__open__item {
    padding: 14px;
  }
}

@media (min-height: 900px) {
  .dropdown__open__item {
    padding: 17px;
  }
}
