#chat-input {
  display: flex;
  flex-direction: row;
  margin: 8px 16px 8px 16px;
  justify-content: space-between;
  border: 1px solid #d4d5dd;
  border-radius: 8px;
  height: 32px;
}

.chat-input__input {
  font-size: 16px;
  flex-grow: 1;
  border: none;
  margin: 3px;
}

.chat-input__send-button {
  border: none;
  background-color: transparent;
  margin-right: 4px;
}

.chat-input__processing {
  justify-content: left !important;
  align-items: center !important;
  padding-left: 32px !important;
}

.chat-input__connecting {
  padding-left: 16px;
  display: flex;
  font-size: 12px;
  gap: 12px;
  align-items: center;
}
