.chat-input__wrapper {
  padding: 0px 16px;
  padding-bottom: 16px;
}
.chat-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #d4d5dd;
  border-radius: 8px;
  padding: 8px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.chat-input__sending {
  display: flex;
  flex-direction: row;
  justify-content: end;
  border: 1px solid #d4d5dd;
  border-radius: 8px;
  padding: 8px;
  position: relative;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.chat-input__input {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #6f6f88;
}

.chat-input__send-button {
  border: none;
  padding: 0px;
  background-color: transparent;
}

.chat-input__processing {
  justify-content: left !important;
  align-items: center !important;
  padding-left: 32px !important;
}

.chat-input__connecting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #d4d5dd;
  border-radius: 8px;
  padding: 8px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #6f6f88;
}
