.message {
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: relative;
}

.message.own {
  flex-direction: row-reverse;
}

.message__left-side {
  display: flex;
  flex-direction: column;
}

.message__right-side {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  p {
    margin: 0;
  }
}

.message__right-side__name {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  display: flex;
  line-height: 20px;
  color: var(--text-terniary);
}

.message__right-side__name.own {
  justify-content: flex-end;
}

.message__right-side__text {
  background-color: var(--primary-grey);
  border: 1px solid #e1dde9;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 8px;
  font-family: Inter;
  font-size: 12px;
  color: #000000;
  line-height: 20px;
  letter-spacing: 0.5%;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.message__right-side__text.own {
  background-color: #4a287533;

  color: #333333;
  border-bottom-left-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.message__right-side__message-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message__right-side__message-controls.own {
  justify-content: flex-end;
}

.message__right-side__message-controls__number {
  margin-top: 4px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.message__right-side__message-controls_like {
  cursor: pointer;
  border: none;
  background: transparent;
}

.message__right-side__message-controls_reply {
  line-height: 20px;
  letter-spacing: 0.5%;
  font-family: Inter;
  text-decoration: underline;
  color: #2b2e36;
  font-size: 12px;
  padding-left: 4px;
  cursor: pointer;
}

.message__right-side__message-controls_reply__has-reply {
  font-weight: bold;
}

.message__right-side__message-controls_like_loading {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
