.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  box-sizing: border-box;
}

.tab-panel__outlined {
  gap: 8px;
}
