.pop-up-question__content {
  background: linear-gradient(90deg, #06070e, #12224e, #06070e);
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 20%;
  color: #fff;
}

.pop-up-question {
  position: absolute;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 2;
  background-color: var(--strongly-dark-purple);
  backdrop-filter: blur(3px);
}
.pop-up-question__header {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
}
.pop-up-question__buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
