.notes-page {
  padding: 16px 16px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  height: calc(calc(var(--vh, 1vh) * 100) - 56px);
}

.notes-page__note-items {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 3;
  padding-bottom: 6px;
}

.notes-page__header {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 700;
}

.notes-page__button-text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
}

.notes-page__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
}

.notes-page__no-note {
  text-align: center;
  align-content: center;
  font-family: Public Sans;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5%;
  color: #333333;
}

.notes-page-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
