.profile-picture {
  width: 121px;
  height: 121px;
  background-color: var(--primary-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 32px;
  font-weight: 700;
  color: #4a2875;
  z-index: 1;
  overflow-wrap: anywhere;
}

.profile-picture--big {
  width: 121px;
  height: 121px;
  font-size: 32px;
}

.profile-picture--small {
  width: 32px;
  height: 32px;
  font-size: 12px;
}
