.profile-picture {
  width: 121px;
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 32px;
  font-weight: 700;
  color: var(--bbw-blue);
  z-index: 1;
  overflow-wrap: anywhere;
  border: 2px solid var(--bbw-blue);
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-picture--big {
  width: 121px;
  height: 121px;
  font-size: 32px;
}

.profile-picture--small {
  width: 32px;
  height: 32px;
  font-size: 12px;
  
  &.long-name {
    font-size: 9px;
  }
}
