.recent-rooms-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  border-radius: 8px;
  background-color: #000000;
  border: 2px solid var(--bbw-blue);
  margin-bottom: 16px;
  box-shadow: var(--box-shadow-type1);
  margin-right: 15px;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  color: #FFF;
}

.recent-rooms__item__title {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
}

.recent-rooms-item__right {
  display: flex;
  align-items: center;
}

.recent-rooms-item__category {
  display: flex;
  align-items: center;
  gap: 6px;
}
