.recent-sessions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #FFF;
}

.recent-sessions__title {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 14px;
}

.recent-sessions__all {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  color: #FFF;
}

.recent-sessions__item-container {
  display: flex;
  overflow-y: auto;
}
