.agenda-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: var(--box-shadow-type1);
  gap: 6px;
  padding: 8px;
  box-sizing: border-box;
  background-color: #000000;
  border: 2px solid var(--bbw-blue);
  z-index: 1;
  color: #FFF
}

.agenda-item__comment-version {
  background-color: var(--background-color-secondary);
  box-shadow: none;
  border-radius: 0px;
  width: 100%;
  position: relative;
  padding: 16px 0px;
  box-shadow: var(--box-shadow-type2);
}

.agenda-item__main {
  display: flex;
  gap: 9px;
}

.agenda-item-padded__main {
  padding-left: 24px;
}

.agenda-item__main__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.agenda-item__main__content__title {
  font-family: var(--font-family-base);
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding-right: 6px;
  box-sizing: border-box;
}

.agenda-item__main__time {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  min-width: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-right: 9px;
  padding-left: 9px;
  border-right: 1px solid var(--border-color);
  line-height: 20px;
}

.agenda-item__main__time__comment-version {
  align-items: end;
}

.agenda-item__main__content__tagged {
  display: flex;
  width: 100%;
  gap: 8px;
}

.agenda-item__content__heart-icon {
  width: 32px;
}
