.content-filter-page__header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.content-filter-page__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.content-filter-page__background__image {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: -6%;
}

.content-filter-page {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 84px);
  gap: 20px;
}

.content-filter-page__top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
