.home-header {
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow-type1);
  background: linear-gradient(90deg, #06070e, #12224e, #06070e);
  z-index: 2;
}

.home-header__name {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-family-tertiary);
  color: var(--bbw-blue);
}

.home-header--right {
  display: flex;
  gap: 9px;
}

.home-header__profile {
  width: 32px;
  height: 32px;
}
