.chat-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);

  background-color: #FFFFFF;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 56px);
}