.chat-page {
  display: flex;
  flex-direction: column;
  height: calc(calc(var(--vh, 1vh) * 100) - 56px);

  background-color: #ffffff;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 56px);
  z-index: 2;
}

.chat-page__loading {
  display: flex;
  height: calc(calc(var(--vh, 1vh) * 100) - 56px);
  backdrop-filter: blur(3px);
  background-color: rgba(21, 21, 21, 0.6);
  z-index: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.chat-page__loading__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  border-radius: 16px;
  padding: 32px 0 16px 0;
  box-sizing: border-box;
  align-items: center;
  font-size: 12px;
  z-index: 2;
}

.chat-page-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}