.terms-and-conditions {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--bbw-blue);
  color: #fff;
  border-radius: 16px;
  padding: 16px;
  height: 100%;
  box-shadow: var(--box-shadow-type2);
  overflow-y: scroll;
  z-index: 1;
  position: relative;
  line-height: 30px;
}

.terms-and-conditions__text__header {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 6px;
  color: #fff;
}

.terms-and-conditions__text {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 50px;
}

.terms-and-conditions__checkbox-setting {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

#data-storage-link {
  color: #fff;

  &:hover {
    color: #fff;
  }
}
