.agenda-page {
  height: calc(calc(var(--vh, 1vh) * 100) - 56px);
  display: flex;
  flex-direction: column;
}

.agenda-page__upper-tab-panel {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
  // background-color: var(--background-color-secondary);
  background: linear-gradient(90deg, #06070e, #12224e, #06070e);
  color: #FFF;
  position: relative;
  z-index: 2;
}

.agenda-page__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  height: 100%;
  overflow: scroll;
  position: relative;
}

.agenda-page__content__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 500px) {
  .agenda-page__content__background__img {
    width: 480px;
  }
}

.agenda-page__content__banner {
  border-radius: 16px;
  display: flex;
  position: relative;
  box-shadow: var(--box-shadow-type2);
  width: 100%;
}

.agenda-page__content__banner__img {
  height: 150px;
  width: 100%;
}

.agenda-page__content__banner__text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  justify-content: flex-end;
}

.agenda-page__content__banner__text__main-text {
  font-family: var(--font-family-base);
  font-size: 32px;
  color: #ffffff;
}

.agenda-page__content__banner__text__sub-text {
  font-family: var(--font-family-base);
  font-size: 24px;
  color: #ffffff;
}

.agenda-page__content__banner__text__register-button {
  font-family: var(--font-family-base);
  font-size: 12px;
  border-radius: 30px;
  background-color: var(--swarm-color);
  color: #ffffff;
  border: none;
  padding: 7px 0px;
  margin-bottom: 5px;
  width: 65px;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0, -50%);
  margin-right: 3px;
}

.agenda-page__content__banner__main-text-regular {
  font-weight: 400;
}

.agenda-page__content__items {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.agenda-page__content__empty {
  text-align: center;
  color: #FFF;
}

.agenda-page__content__filter-icon {
  position: fixed;
  right: 8px;
  bottom: 120px;
  z-index: 1;
}

@media (min-width: 500px) {
  .agenda-page__content__filter-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    left: 210px;
    position: fixed;
  }
}
