.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.profile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 20px;
  overflow: auto;
}

.profile__content__datas {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px 16px;
  box-sizing: border-box;
  padding-bottom: 16px;
}

.profile-creation__username {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  color: var(--text-tertiary);
  text-align: center;
}

.profile__username {
  position: relative;
  width: 267px;
  width: 267px;
  height: 40px;
  padding: 16px 8px;
  display: flex;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  z-index: 1;
  font-family: var(--font-family-base);
  color: #000000;
  border-bottom: 1px solid var(--lighter-color);
  box-sizing: border-box;
  background-color: #ffffff;
}

.profile__username {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--border-color);
  width: 267px;
  height: 40px;
  padding: 8px 10px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.profile__username::selection {
  color: #ffffff;
  // background: var(--bbw-blue);
  background-image: linear-gradient(90deg, #437dff, #b2d6ff, #87cdff, #437dff);
}

.profile__content__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 9%;
  overflow: hidden;
}

.profile__content__background__image {
  width: 100%;
  height: 100%;
}

.profile__content__datas__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profile__content__datas__how-does-it-work {
  width: 100%;
  z-index: 1;
}
