@import "../fonts.css";
.welcome-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 0px;
}

@media (min-width: 600px) {
  .welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 0px;
  }
}

.welcome-page__header {
  height: 20%;
  font-family: Poppins;
  padding: 0px 20px;
  line-height: 36px;
  font-weight: 700;
  font-size: 32px;
}

.welcome-page__content {
  width: 100%;
  height: 60%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.welcome-page__content__color-effect {
  position: absolute;
  width: 100%;
  z-index: 0;
  height: 100vh;
  background: linear-gradient(
    rgb(255 255 255 / -46%) 45.52%,
    rgba(130, 35, 255, 18%) 62.52%,
    rgb(255 255 255 / 26%) 67.83%
  );
}

.welcome-page__content__image {
  z-index: 1;
  height: 358px;
  width: 293px;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.welcome-page__content__text {
  background-color: white;
  width: 330px;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter;
  z-index: 1;
}

.welcome-page__bottom {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-page__bottom-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.welcome-page__bottom-text__skip {
  text-decoration: "underline";
  font-weight: "bold";
  color: "#8C72AE";
}
