@import "../fonts.css";
.welcome-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 0px;
}

@media (min-width: 600px) {
  .welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 0px;
  }
}

.welcome-page__header {
  height: 20%;
  box-sizing: border-box;
  font-family: Poppins;
  padding: 0px 20px;
  line-height: 36px;
  font-weight: 700;
  font-size: 32px;
}

.welcome-page__content {
  width: 100%;
  height: 54%;
  position: relative;
  display: flex;
  align-items: center;
  // justify-content: end;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.welcome-page__content__color-effect {
  position: absolute;
  width: 100%;
  z-index: 0;
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(
    rgb(255 255 255 / -46%) 45.52%,
    rgba(130, 35, 255, 18%) 62.52%,
    rgb(255 255 255 / 26%) 67.83%
  );
}

.welcome-page__content__image {
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 83%;
  width: 80%;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.welcome-page__bottom {
  background: linear-gradient(
    to top,
    rgb(255 255 255) 94%,
    rgb(255 255 255 / 3%) 100%
  );
  width: 100%;
  min-height: 1%;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  text-align: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
  bottom: 0px;
  padding-bottom: 40px;
  padding-top: 20px;
}
.welcome-page__bottom__text {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  width: 84%;
  box-sizing: border-box;
  color: #000000;
  z-index: 1;
  display: flex;
  align-items: end;
  justify-content: center;
}

.welcome-page__bottom-bottom {
  width: 100%;
  z-index: 2;
  height: 31vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

@media (min-height: 400px) {
  .welcome-page__bottom-bottom {
    height: 19vh;
  }
}

@media (min-height: 450px) {
  .welcome-page__bottom-bottom {
    height: 20vh;
  }
}

@media (min-height: 500px) {
  .welcome-page__bottom-bottom {
    height: 21vh;
  }
}

@media (min-height: 550px) {
  .welcome-page__bottom-bottom {
    height: 22vh;
  }
}

@media (min-height: 600px) {
  .welcome-page__bottom-bottom {
    height: 23vh;
  }
}

@media (min-height: 650px) {
  .welcome-page__bottom-bottom {
    height: 24vh;
  }
}

@media (min-height: 670px) {
  .welcome-page__bottom-bottom {
    height: 25vh;
  }
}

@media (min-height: 710px) {
  .welcome-page__bottom-bottom {
    height: 26vh;
  }
}

@media (min-height: 760px) {
  .welcome-page__bottom-bottom {
    height: 27vh;
  }
}

@media (min-height: 810px) {
  .welcome-page__bottom-bottom {
    height: 26vh;
  }
}

@media (min-height: 910px) {
  .welcome-page__bottom-bottom {
    height: 29vh;
  }
}

@media (min-height: 1000px) {
  .welcome-page__bottom-bottom {
    height: 30vh;
  }
}

.welcome-page_bottom-bottom__buttons {
  display: flex;
  width: 100%;
  padding: 0px 16px;
  box-sizing: border-box;
  gap: 20px;
}

.welcome-page__effect-mask {
  position: absolute;
  bottom: -28px;
  left: 0px;
  width: 100%;
  height: 65%;
  z-index: -1;
}

.welcome-page__bottom-text {
  margin-top: 24px;
}

.welcome-page__bottom-text__skip {
  text-decoration: underline;
  font-weight: bold;
  color: #8c72ae;
}

.welcome-page__main-image {
  height: 150%;
}

.welcome-page__navigation-button-link {
  width: 100%;
}
