.home-page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  z-index: 1;
}

.home-page__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

@media (min-width: 600px) {
  .main-profile-page {
    padding: 40px;
    font-size: 18px;
  }
}

.home-page__content {
  padding: 15px;
  overflow: auto;
  z-index: 1;
}

.home-page-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
