@use "../../../styles/global.scss";
.tab-panel-item {
  width: 100%;
  text-align: center;
  height: 32px;
  cursor: pointer;
}

.tab-panel-item-active {
  background-color: white;
  border-radius: 8px;
}

.tab-panel-item__underlined {
  font-family: var(--font-family-base);
  font-weight: 600;
  padding: 4px 16px 8px 16px;
}

.tab-panel-item__underlined__active {
  font-family: var(--font-family-base);
  font-weight: 600;
  color: var(--darker-pruple);
  border-bottom: 2px solid var(--darker-purple);
}

.tab-panel-item__filled {
  font-family: var(--font-family-base);
  font-weight: 400;
  border-radius: 6px;
  color: var(--darker-purple);
}

.tab-panel-item__filled__active {
  font-family: var(--font-family-base);
  font-weight: 700;
  border-radius: 8px;
  color: var(--darker-purple);
  background-color: white;
  border-radius: 6px;
  @extend .box-shadow-type1;
  // box-shadow: 0px 2px 4px 0px #1f1f231a;
}

.tab-panel-item__outlined {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 12px;
  color: var(--darker-purple);
  border: 1px solid var(--darker-purple);
  border-radius: 8px;
}

.tab-panel-item__outlined__active {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 12px;
  color: white;
  background-color: var(--darker-purple);
  border: 1px solid var(--darker-purple);
  border-radius: 8px;
  @extend .box-shadow-type1;
  // box-shadow: 0px 2px 4px 0px #1f1f231a;
}
