.tab-panel-item {
  width: 100%;
  text-align: center;
  height: 32px;
  cursor: pointer;
}

.tab-panel-item-active {
  background-color: #ffffff;
  border-radius: 8px;
}

.tab-panel-item__underlined {
  font-family: var(--font-family-base);
  font-weight: 600;
  padding: 4px 16px 8px 16px;
}

.tab-panel-item__underlined__active {
  font-family: var(--font-family-base);
  font-weight: 600;
  color: var(--bbw-blue);
  border-bottom: 2px solid var(--bbw-blue);
}

.tab-panel-item__filled {
  font-family: var(--font-family-base);
  font-weight: 400;
  border-radius: 6px;
  color: #fff;
}

.tab-panel-item__filled__active {
  font-family: var(--font-family-base);
  font-weight: 700;
  border-radius: 8px;
  color: var(--bbw-blue);
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: var(--box-shadow-type1);
}

.tab-panel-item__outlined {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 12px;
  color: var(--bbw-blue);
  border: 1px solid var(--bbw-blue);
  border-radius: 8px;
}

.tab-panel-item__outlined__active {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  background-color: var(--bbw-blue);
  border: 1px solid var(--bbw-blue);
  border-radius: 8px;
  box-shadow: var(--box-shadow-type1);
}
