.navigation-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  height: 56px;
  width: 100%;
  background-color: white;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0px -2px 7px 0px rgb(31 31 35 / 24%);
}

.navigation-footer__item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.navigation-footer__item-container__active {
  color: #8c72ae;
  font-weight: 700;
}
