.navigation-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px;
  width: 100%;
  background-color: var(--primary-grey);
  padding: 8px 20px;
  box-sizing: border-box;
  box-shadow: 0px -2px 7px 0px #1f1f233d;
}

.navigation-footer__item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-family: var(--font-family-base);
  font-weight: 400;
}

.navigation-footer__item-container__active {
  color: var(--purple-to-text-color);
  font-weight: 700;
}
