.points-info {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.points-info__points-emphasize {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #8c72ae;
}

.points-info__BZZ-emphasize {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ff8a50;
}
