.points-info {
  font-size: 12px;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.points-info__points-emphasize {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 16px;
  color: var(--purple-to-text-color);
}

.points-info__BZZ-emphasize {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 16px;
  color: var(--swarm-color);
}
