.categories-page {
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
}

.categories-page__header {
  font-size: 24px;
  font-family: var(--font-family-base);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.categories_page__content {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  row-gap: 20px;
  padding-top: 50px;
}

@media (min-height: 700px) {
  .categories_page__content {
    row-gap: 16px;
  }
}

@media (min-height: 850px) {
  .categories_page__content {
    row-gap: 20px;
  }
}

.categories-page__content__item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.categories-page__buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}
