.how-does-it-work-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}
.how-does-it-work-page__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding: 0px 16px 10px 16px;
  box-sizing: border-box;
  overflow-y: auto;
}
.how-does-it-work-page__content__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0px;
}
.how-does-it-work-page__box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  gap: 13px;
  background-color: #ffffff;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow-type2);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--bbw-blue);
  color: #FFF;
}

.how-does-it-work-page__box__header {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 20px;
}

.how-does-it-work-page__box__content {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.how-does-it-work-page__box__img {
  width: 100%;
  height: 100%;
}

.how-does-it-work-page__box__header__BZZ-emphasize {
  color: var(--swarm-color);
}

#bzz-link {
  color: #FFF;
  text-decoration: underline;
}