.openprofile-header {
  height: 80px;
  margin-top: 30px;
}

@media (min-width: 600px) {
  .openprofile-header {
    margin-top: 0px;
  }
}

.username {
  font-weight: 700;
  font-size: 18px;
}

.bottom {
  margin-bottom: 40px;
}
