.openprofile-page__header {
  font-size: 24px;
  font-weight: 700;
}

.openprofile-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 35px;
}

@media (min-width: 600px) {
  .openprofile-page__header {
    margin-top: 0px;
  }
}
.openprofile-page__username {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  text-align: center;
}

.openprofile-page__username-edit {
  width: 267px;
  padding: 10px 8px;
  display: flex;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.openprofile-page__user-input {
  z-index: 1;
}

.openprofile-page__user-input__input {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  text-align: center;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  width: 267px;
  height: 52px;
  padding: 8px 16px 8px 16px;
}

.openprofile-page__user-input__input::placeholder {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 35.52px;
  text-align: center;
  color: #e0e0e0;
}

.openprofile-page__user-input__input:focus-visible {
  outline: none;
}

.username {
  font-weight: 700;
  font-size: 18px;
}

.openprofile-page__bottom {
  width: 100%;
  z-index: 1;
  margin-bottom: 40px;
}

.openprofile-page__background-effect {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100%;
  top: 0px;
}

.openprofile-page__backgorund-effect__img {
  height: 100%;
  width: 100%;
}

.openprofile-page__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.openprofile-page__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
}
