.welcome-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  height: 56px;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  flex: 1 1 0;
  font-family: "Public Sans", sans-serif;
  cursor: pointer;
  transition: border-color 0.25s;
  z-index: 1;
  position: relative;
  justify-self: center;
}

.welcome-button--filled {
  border: none;
  color: #ffffff;
  background-color: var(--bbw-blue);
}

.welcome-button--filled:active {
  background: linear-gradient(0deg, var(--bbw-blue), var(--bbw-blue));
}

.welcome-button--outlined {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--bbw-blue);
  color: #fff;
}

.welcome-button--white {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: #000000;
}

.welcome-button--orange {
  border: none;
  color: #ffffff;
  background: var(--swarm-color);
}

.welcome-button--inactive {
  border: none;
  color: var(--bbw-disabled-gray);
  background: var(--bbw-disabled-blue-gray);
  cursor: not-allowed;
}
