.welcome-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  height: 56px;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  flex: 1 1 0;
  font-family: 'Public Sans', sans-serif;
  cursor: pointer;
  transition: border-color 0.25s;
  z-index: 1;
  position: relative;
}

.welcome-button--filled {
  border: none;
  color: white;
  background: linear-gradient(0deg, #8c72ae 0%, #873de7 100%);
}

.welcome-button--filled:active {
  background: linear-gradient(0deg, #8223ff, #8223ff);
}

.welcome-button--outlined {
  border: 1px solid #8c72ae;
  color: #8c72ae;
  background: white;
}

.welcome-button--white {
  border: 1px solid white;
  color: white;
  background: black;
}

.welcome-button--orange {
  border: none;
  color: white;
  background: #ff8a50;
}

.welcome-button--inactive {
  border: none;
  color: #a5adba;
  background: #f2f2f2;
  cursor: not-allowed;
}
