.welcome-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  height: 56px;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  flex: 1 1 0;
  font-family: "Public Sans", sans-serif;
  cursor: pointer;
  transition: border-color 0.25s;
  z-index: 1;
  position: relative;
}

.welcome-button--filled {
  border: none;
  color: #ffffff;
  background: linear-gradient(0deg, #8c72ae 0%, #873de7 100%);
}

.welcome-button--filled:active {
  background: linear-gradient(0deg, #8223ff, #8223ff);
}

.welcome-button--outlined {
  border: 1px solid var(--purple-to-text-color);
  color: var(--purple-to-text-color);
  background: #ffffff;
}

.welcome-button--white {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: #000000;
}

.welcome-button--orange {
  border: none;
  color: #ffffff;
  background: var(--swarm-color);
}

.welcome-button--inactive {
  border: none;
  color: var(--lighter-color);
  background: var(--background-color-primary);
  cursor: not-allowed;
}
