@import "../../styles/fonts.scss";

.opening-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  font-family: Poppins;
  overflow: hidden;
  box-sizing: border-box;
  padding: 40px 0px;
}

.opening-page__text-layer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.opening-page__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  color: white;
  font-size: 48px;
  text-align: center;
  padding: 0px 40px;
  line-height: 48px;
  z-index: 1;
}

.opening-page__footer {
  text-align: center;
  z-index: 1;
}

.opening-page__video-background {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: auto;
}

.opening-page__video-glass-effect {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
