.talk-item {

}

.swarm-comment-system-wrapper {

}

.swarm-comment-system-comment-form {

}

.swarm-comment-system-comment-list {

}

.swarm-comment-system-button {
  border: none;
  background-color: transparent;
  margin-right: 4px;
}
