.gamification {
  position: absolute;
  background-color: #15151599;
  backdrop-filter: blur(3px);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;
}
.gamification__modal {
  position: relative;
  background-color: #000000;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: var(--box-shadow-type1);
  border-radius: 12px;
}
.gamification__modal__img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0px;
  background-color: #000000;
}

.gamification__modal_img__ten-points {
  height: auto;
}

.gamification__modal__content {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: #00000054;
  box-sizing: border-box;
}

.gamification__modal__content__header {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 700;
  color: var(--lighter-color);
  text-align: center;
}

.gamification__modal__content__header__emphasize {
  color: var(--swarm-color);
}

.gamification__modal__content__emphasize {
  font-family: var(--font-family-base);
  font-weight: 700;
  color: var(--swarm-color);
  font-size: 20px;
}

.gamification__modal__content__tokens {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 16px;
  color: var(--lighter-color);
}

.gamification__modal__content__tokens_img {
  width: 15px;
  height: 15px;
}

.gamification__modal__content_how {
  font-family: var(--font-family-base);
  font-size: 12px;
  font-weight: 700;
  color: var(--grey-primary);
  text-decoration: underline;
}

.gamification__modal__content__close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.gamification__modal__content__claim-button {
  border-radius: 8px;
  background-color: var(--swarm-color);
  height: 40px;
  padding: 8px 24px;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  border: none;
}

.gamification__modal__content_main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  width: 97%;
  align-items: center;
  line-height: 26px;
}

@media (min-width: 480px) {
  .gamification__modal__content_main {
    width: 81%;
  }
}
