.chat-header {
  display: flex;
  gap: 15px;
  height: 50px;
  align-items: center;
  background-color: #f1f2f4;
  padding: 16px;
}

.chat-header__img {
  width: 32px;
  height: 32px;
}

.chat-header__category-name {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: #2b2e36;
}
