.terms-and-conditions-onboarding-page__header {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding: 0px 100px;
  text-align: center;
  line-height: 36px;
  color: #FFF;
}

.terms-and-conditions-onboarding-page__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.terms-and-conditions-onboarding-page__background__image {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: -6%;
}

.terms-and-conditions-onboarding-page {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 68px);
  gap: 20px;
  box-sizing: border-box;
}

.terms-and-conditions-onboarding-page__bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.terms-and-conditions-onboarding-page__bottom__back-button {
  width: 100%;
}

@media (max-width: 500px) {
  .terms-and-conditions-onboarding-page__bottom {
    padding-bottom: 40px;
  }
}
