.profile-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  gap: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--bbw-blue);
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow-type2);
  z-index: 1;
  color: #fff;
}

.devcon-main-box__border {
  border: 2px solid var(--bbw-blue);
}

.profile-box__title {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-family-base);
}

.profile-box__content {
  font-size: 12px;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.profile-box__link {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.profile-box__points-box {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 48px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--bbw-blue);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  color: #fff;
}

.profile-box__points-box__ten {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 48px;
  border-radius: 12px;
  background-color: var(--swarm-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  color: #ffffff;
}

.profile-box__content__points-emphasize {
  font-weight: 700;
  color: var(--bbw-blue);
}

.profile-box__left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-box__left-content__with-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
