@use "../../../src/styles/global.scss";
.profile-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  gap: 10%;
  background-color: white;
  border-radius: 16px;
  box-sizing: border-box;
  @extend .box-shadow-type2;
  // box-shadow: 0px 2px 8px 0px #1f1f2326;
  z-index: 1;
}

.devcon-main-box__border {
  border: 2px solid var(--default-purple);
}

.profile-box__title {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-family-base);
}

.profile-box__content {
  font-size: 12px;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.profile-box__link {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
}

.profile-box__points-box {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 48px;
  border-radius: 12px;
  background-color: var(--primary-grey);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.profile-box__points-box__ten {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 48px;
  border-radius: 12px;
  background-color: var(--swarm-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  color: white;
}

.profile-box__content__points-emphasize {
  font-weight: 700;
  color: var(--purple-to-text-color);
}

.profile-box__left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-box__left-content__with-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
