.recent-rooms {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
}

.recent-rooms__title {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.recent-rooms__all {
  font-family: var(--font-family-base);
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
}
