.recent-sessions-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 136px;
  min-width: 164px;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 4px;
  box-shadow: 0px 2px 8px 0px #1f1f2326;

  margin-right: 15px;
  padding: 8px;
  box-sizing: border-box;
}

.recent-sessions-item__title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(18px * 3);
  line-height: 18px;
}

.recent-sessions-item__stage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 4px;
  border-radius: 30px;
}
