.talk {
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
}

.talk__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  position: relative;
  
  & .agenda-item__comment-version {
    border: none;
  }
}

.swarm-comment-system-comment-list__no-comment {
  color: #FFF;
}

.swarm-comment-input {
  border-color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
}

.swarm-comment-input__input {
  background-color: transparent;
  color: #FFF;
}

.swarm-comment__message-side__name.own {
  color: "#FFF";
}

.swarm-comment__message-side__text {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #FFF;
  
  &.own {
    border: 2px solid var(--bbw-blue);
    background-color: rgba(0, 0, 0, 0.5);
  }
}