.avatar-monogram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #4A2875;
  font-size: 12px;
  font-weight: bold;
  font-weight: 600;
  letter-spacing: 0.25%;
  line-height: 16px;
}