.default-button {
  width: 343px;
  height: 40px;
  border-radius: 8px;
  background-color: #8c72ae;
  color: white;
  font-family: "Public Sans";
  font-weight: 700;
  border: 1px solid transparent;
  box-sizing: border-box;
}
