@use "../../styles/global.scss";
.full-note-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 84px);
  gap: 20px;
}
.full-note-page__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: -60px;
}

.full-note-page__input {
  padding: 0px 16px;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.full-note-page__input textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 16px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.full-note-page__top {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.full-note-page__top__header {
  display: flex;
  justify-content: space-between;
}

.full-note-page__top__header__counter {
  @extend .default-text;
  display: flex;
  height: 32px;
  align-items: center;
  padding-right: 16px;
  padding-top: 16px;
}

.full-note-page__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
  box-sizing: border-box;
  gap: 20px;
}
