.action-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  position: relative;
  z-index: 1;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 8px;
  color: #ffffff;
  padding: 8px;
  background-color: var(--bbw-blue);
  box-shadow: var(--box-shadow-type1);
}
