@use '../../../src/styles/global.scss';

.action-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  position: relative;
  z-index: 1;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  padding: 8px;
  background-color: #4a2875;
  @extend .box-shadow-type1;
  // box-shadow: 0px 2px 4px 0px #1f1f231a;
}
