.openprofile-picture {
  width: 121px;
  height: 121px;
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 32px;
  font-weight: 700;
  color: #4a2875;
}
