.filter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  //   background-color: #8c72ae;
  box-shadow: 0px 0px 6px 1px rgb(31 31 35 / 49%);
}
