.devcon-main-box {
  padding: 10px;
  background-color: #000;
  border: 2px solid var(--bbw-blue);
  color: #FFF;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow-type2);
  margin-bottom: 20px;
  cursor: pointer;
}

.devcon-main-box__border {
  border: 2px solid var(--bbw-blue);
}

.devcon-main-box__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: var(--font-family-base);
}

.devcon-main-box__content {
  font-size: 12px;
  margin-bottom: 8px;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
