@use "../../../src/styles/global.scss";
.devcon-main-box {
  padding: 10px;
  background-color: white;
  border-radius: 16px;
  box-sizing: border-box;
  @extend .box-shadow-type2;
  box-shadow: 0px 2px 8px 0px #1f1f2326;
  margin-bottom: 20px;
  cursor: pointer;
}

.devcon-main-box__border {
  border: 2px solid var(--default-purple);
}

.devcon-main-box__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: var(--font-family-base);
}

.devcon-main-box__content {
  font-size: 12px;
  margin-bottom: 8px;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
