@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/Inter-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/Inter-VariableFont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./assets/PublicSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./assets/PublicSans.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./assets/PublicSans.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
