.navigation-header {
  display: flex;
  height: 32px;
  width: fit-content;
  cursor: pointer;
  gap: 10px;
  align-items: center;
  padding: 8px 16px;
  position: relative;
  z-index: 1;
}

.navigation-header__text {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
}

.navigation-header__link {
  display: flex;
}

.navigation-header__wrapper {
  width: 100%;
  background: linear-gradient(90deg, #06070e, #12224e, #06070e);
  color: #FFF;
}
