.welcome-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: white;
  text-align: center;
}

@media (min-width: 600px) {
  .welcome-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: white;
    text-align: center;
  }
}

.welcome-font {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
}

.welcome-header {
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  height: 22vh;
}

.welcome-subtext1 {
  font-weight: 700;
  font-size: 18px;
  height: 8vh;
}

.welcome-subtext2 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
}

.bottom-text {
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.subtext {
  height: 150px;
}
