@use '../../fonts.css';
.welcome1-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100);
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 0px;
}

@media (min-width: 600px) {
  .welcome1-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 0px;
  }
}

.welcome1-page__header {
  height: 20%;
  font-family: Poppins;
  padding: 0px 20px;
  line-height: 36px;
  font-weight: 700;
  font-size: 32px;
}

.welcome1-page__content {
  width: 100%;
  height: 60%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.welcome1-page__content__color-effect {
  position: absolute;
  width: 100%;
  z-index: 0;
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(
    rgb(255 255 255 / -46%) 45.52%,
    rgba(130, 35, 255, 18%) 62.52%,
    rgb(255 255 255 / 26%) 67.83%
  );
}

.welcome1-page__content__image {
  z-index: 1;
  height: 358px;
  width: 293px;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.welcome1-page__content__text {
  background-color: white;
  width: 330px;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family-base);
  z-index: 1;
}

.welcome1-page__bottom {
  height: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.welcome1-page__bottom-text {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
